[submodule "licensing"]
	path = licensing
	url = ../licensing
	branch = master
[submodule "ldap-pro"]
	path = ldap-pro
	url = ../ldap-pro
	branch = master
[submodule "network-discovery"]
	path = network-discovery
	url = ../network-discovery
	branch = master
[submodule "internet-access-control"]
	path = internet-access-control
	url = ../internet-access-control
	branch = master
[submodule "veyon"]
	path = veyon
	url = ../veyon
	branch = master
[submodule "chat"]
	path = chat
	url = ../chat.git
[submodule "webtabs"]
	path = webtabs
	url = ../webtabs
[submodule "screenrecorder"]
	path = screenrecorder
	url = ../screenrecorder.git
